<app-navbar></app-navbar>

<div class="login-wrapper">
  <div class="login-card shadow-lg">
    <h2 class="text-center mb-4">Log in to ClaimWise</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <input type="text" class="form-control form-control-lg" formControlName="username" placeholder="Username" />
      </div>
      <div class="mb-3">
        <input type="password" class="form-control form-control-lg" formControlName="password" placeholder="Password" />
      </div>
      <button class="btn btn-blue w-100 mb-3" type="submit" [disabled]="loading || loginForm.invalid">
        <span *ngIf="loading" class="spinner-border spinner-border-sm me-2"></span>
        LOGIN
      </button>
    </form>

    <div class="mt-2 text-center text-success" *ngIf="message">{{ message }}</div>

    <div class="text-center mt-4">
      <a routerLink="/register" class="text-link">Don't have an account? Register Here</a>
    </div>
  </div>
</div>
